[Unit]
Description=fileprot - File Protection FUSE Daemon
After=dbus.service
Requires=dbus.service

[Service]
Type=simple
ExecStart=/opt/fileprot/bin/fileprotd
Restart=on-failure
RestartSec=5
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
