[Unit]
Description=fileprot - File Protection FUSE Daemon
After=dbus.service
Requires=dbus.service

[Service]
Type=simple
ExecStart=/opt/fileprot/bin/fileprotd
Restart=on-failure
RestartSec=5
NoNewPrivileges=yes
MountFlags=shared
RestrictNamespaces=yes
RestrictAddressFamilies=AF_UNIX AF_NETLINK AF_INET AF_INET6
LockPersonality=yes
MemoryDenyWriteExecute=yes
CapabilityBoundingSet=CAP_SYS_ADMIN CAP_SYS_PTRACE CAP_CHOWN CAP_FOWNER

[Install]
WantedBy=multi-user.target
